.app {
  height: 100vh;
}

.top {
  background-color: black;
  color: white;
}

.name-logo {
  background-color: #999;
}

.name {
  font-size: 28px;
  margin: 10px;
  padding-left: 10px;
  color: gold;
}

.icon {
  height: 50px;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

.about {
  font-size: 18px;
  overflow: auto;
  margin-bottom: 30px;
}

.title-about {
  text-align: center;
  font-size: 32px;
  margin-top: 10px;
}

.text-about {
  margin: 10px;
  text-indent: 50px;
}

.border-about {
  border-bottom: 3px solid black;
  width: 200px;
  align-self: center;
  margin: 30px;
}

.metals-about {
  align-self: center;
}

.source-about {
  margin: 20px 0 10px 10px;
  font-weight: bold;
}

.href-about {
  margin-left: 10px;
}

.title-contact {
  text-align: center;
  font-size: 32px;
  margin-top: 10px;
}

.footer {
  background-color: black;
  color: white;
}

.footer-link {
  font-size: 22px;
  margin: 10px; 
}

.pointer {
  cursor: pointer;
}

.chart {
  margin: 10px 5px;
}

.chart-div {
  resize: both;
}